.base {
  position: absolute;
  height: 39.5%;
  width: 82.84%;
  top: 33.33%;
  right: 8.64%;
  bottom: 27.17%;
  left: 8.52%;
  border-radius: 5.83px;
}
.elementsWidgetsWidget04Parent {
  position: absolute;
  height: 29.63%;
  width: 20.22%;
  top: 17.34%;
  right: 38.82%;
  bottom: 53.03%;
  left: 40.96%;
}
