.base {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--primary);
}
.buttonText {
  position: absolute;
  top: calc(50% - 10px);
  left: 12.16%;
  letter-spacing: -0.4px;
  font-weight: 600;
}
.iconsFlashRounded {
  position: absolute;
  top: 9px;
  right: 12px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.elementsButtonsPrimary {
  width: 148px;
  height: 40px;
  text-align: right;
  font-size: var(--label-02-size);
  color: var(--white);
  font-family: var(--label-01);
}
