.playButtonIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.elementsButtonsPlay02 {
  text-decoration: none;
  position: absolute;
  height: 19.6%;
  width: 9.04%;
  top: 80.4%;
  right: 45.49%;
  bottom: 0;
  left: 45.47%;
}
