.base,
.base1,
.progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue-100);
  width: 1728px;
  height: 1240px;
}
.base1,
.progress {
  left: 18px;
  background-color: var(--color-gray-800);
  width: 1538px;
  height: 4px;
}
.progress {
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 330px;
}
.baseGroup,
.baseParent,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1556px;
  height: 4px;
}
.baseParent,
.groupWrapper {
  top: 1152px;
  left: 172px;
}
.baseParent {
  top: 0;
  left: 1px;
  width: 1728px;
  height: 1240px;
}
.testimonials,
.whatPeopleAre {
  position: absolute;
  left: 0.28%;
  font-weight: 600;
}
.whatPeopleAre {
  width: 99.72%;
  top: 25%;
  letter-spacing: -2.4px;
  line-height: 82px;
  text-align: left;
  display: inline-block;
}
.testimonials {
  top: calc(50% - 88px);
  font-size: var(--label-01-size);
  letter-spacing: -0.55px;
  line-height: 30px;
  color: var(--color-gray-900);
}
.youCanEven {
  position: absolute;
  height: 22.73%;
  width: 57.63%;
  top: 77.27%;
  left: 0;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.3px;
  line-height: 34px;
  font-weight: 500;
  display: inline-block;
}
.whatPeopleAreSayiParent {
  position: absolute;
  height: 15.25%;
  width: 40.92%;
  top: 0;
  right: 49.13%;
  bottom: 84.75%;
  left: 9.94%;
}
.icon,
.imageIcon {
  position: absolute;
  top: 416px;
  left: 0;
  width: 1730px;
  height: 738px;
  object-fit: cover;
}
.imageIcon {
  top: 0;
  border-radius: var(--br-421xl);
  width: 755px;
  height: 755px;
}
.web3makrProvidesA {
  margin: 0;
}
.web3makrProvidesAContainer {
  position: absolute;
  height: 80.4%;
  width: 36.66%;
  top: 9.8%;
  left: 63.34%;
  letter-spacing: -1.6px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
  opacity: 0.8;
}
.imageParent {
  position: absolute;
  top: 239px;
  left: 174px;
  width: 1293px;
  height: 755px;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-whitesmoke-100);
}
.groupContainer {
  position: absolute;
  height: 93.06%;
  width: 100%;
  top: 6.69%;
  right: 0;
  bottom: 0.24%;
  left: 0;
}
.groupParent {
  position: absolute;
  top: 5675px;
  left: -1px;
  width: 1730px;
  height: 1240px;
  text-align: center;
  font-size: var(--font-size-46xl);
  color: var(--color-gray-1000);
  font-family: var(--label-01);
}
